<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список пользователей</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link th:href="@{/css/admin/users.module.css}" type="text/css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="header_back">
            <a class="header_back_btn" href="/admin">Вернуться в личный кабинет</a>
        </div>
        <div class="header_logo">
            <h1>Добавить товар</h1>
        </div>
    </header>
    <hr>
    <div class="cart_section">
        <div class="cart_item" th:each="user : ${users}">
            <p class="cart_title" th:text="'Логин: ' + ${user.getLogin()}"></p>
            <p class="cart_price" th:text="'Роль: ' + ${user.getRole()}"></p>
            <br>
            <a class="header_back_btn" th:href="@{/admin/users/editRoleAdmin/{id}(id=${user.getId()})}">Сделать админом</a>
            <br>
            <br>
            <br>
            <a class="header_back_btn" th:href="@{/admin/users/editRoleUser/{id}(id=${user.getId()})}">Сделать юзером</a>
            <br>
            <hr>
            </form>
        </div>
    </div >
</body>
</html>


<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:each="person : ${persons}">
    <p th:text="'Айди ' + ${person.getId()}"></p>
    <p th:text="'Логин: ' + ${person.getLogin()}"></p>
    <p th:text="'Роль: ' + ${person.getRole()}"></p>
    <a th:href="@{/admin/EditPerson/{id}(id=${person.getId()})}">Редактировать пользователя</a>
</div>
</body>
</html>